<div class="container">
    <div>
        <app-booking-details-form [booking]="booking" (saveEvent)="onSave($event)" class="row"></app-booking-details-form>
        <mat-form-field class="link-field">
            <mat-label>Booking link</mat-label>
            <input matInput disabled type="text" [ngModel]="bookingSignUrl">
            <button matSuffix mat-icon-button [cdkCopyToClipboard]="bookingSignUrl">
                <mat-icon>content_copy</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>
